<meta charset="UTF-8">
<title>Twitter Analyst</title>

<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
<link rel="stylesheet" href="../assets/css/style.css">

<script src="http://code.jquery.com/jquery-2.2.4.min.js"></script>
<script src="../assets/js/app.js"></script>